body {
  text-align: center;
  font-family: helvetica, sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 70px;
}

h2 {
  font-weight: bold;
  font-size: 32px;
}

h3 {
  font-weight: bold;
  font-size: 23px;
}

p {
  font-size: 14px;
}

.header {
  background-image: url('../images/the-flatiron-building.png');
  color: white;
}

.footer {
  text-align: left;
  background-color: dimgray;
  color: white;
}

a {
  color: white;
  font-size: 18px !important;
}

ul {
  list-style: none;
}
